.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  /* padding: 0 2rem; */
  padding: 60px;
  background-image: url('/images/background.jpg');
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
   #000000,
   #1d1d1dbd,
   #ffffff1a
  );
}


.content {
  position: relative;
  z-index: 2;
  max-width: 650px;
  color: white;
  margin-top: 300px;
}

.title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2;
}

.desc {
  font-family: "DM Sans", sans-serif;
  font-weight: 200;
  margin-top: 1rem;
  font-size: 1.1rem;
  opacity: 0.85;
}

.buttons {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.primaryBtn {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.1rem;
  background: white;
  color: black;
  padding: 14px 28px;
  border-radius: 8px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.25s ease;
}

.primaryBtn:hover {
  opacity: 0.85;
}

.secondaryBtn {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  padding: 14px 28px;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.25s ease;
}

.secondaryBtn img {
  height: 10px;
  width: auto;
}

