.section {
  max-width: 1300px;
  margin: auto;
  padding: 5rem 2rem;
}

/* Heading */
.heading {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 2.5rem;
}

/* Timeline */
.timeline {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 4rem;
  padding: 0 1rem;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 22px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #cfcfcf;
  z-index: 0;
}

.step {
  text-align: center;
  position: relative;
  z-index: 2;
  width: 180px;
}

.circle {
  width: 38px;
  height: 38px;
  background: #4F46E5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  margin: auto;
  margin-bottom: 0.4rem;
}

.stepTitle {
   font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

.stepDesc {
   font-family: "DM Sans", sans-serif;
  font-size: 0.95rem;
  opacity: 0.7;
}

/* Cards Layout */

.cardGrid {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.card {
  background: white;
  border: 1px solid #E2E2E2;
  border-radius: 12px;
  padding: 1.8rem;
  flex: 1;
}

/* Left Card */
.cardHeader {
   font-family: "DM Sans", sans-serif;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.list {
  margin-top: 1rem;
  padding-left: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.list li {
   font-family: "DM Sans", sans-serif;
  list-style: disc;
  font-size: 1.1rem;
  opacity: 0.8;
}

/* Right Card Logos */

.clientTitle {
   font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem 2.5rem;
  align-items: center;
}

/* Responsive */
@media (max-width: 950px) {
  .timeline {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
  .timeline::before {
    display: none;
  }
  .cardGrid {
    flex-direction: column;
  }
  .step {
    align-items: start;
    text-align: left;
  }
}
